{% extends "base.html" %}

{% block head %}
<title>Alarm Clock</title>
{% endblock%}

{% block body %}
<script src="{{ url_for("static", filename="js/clock.js") }}"></script>
<section id="alarm-grid">
    <div class="grid-container">
        <div class="grid">
            <div class="cell bottom-right">1</div>
            <div class="cell bottom-left bottom-right">{{ weather }}</div>
            <div class="cell bottom-left">{{ sleep }}</div>
            <div id="clock" class="cell merge top-right">{{ time }}</div>
            <div class="cell top-left">6</div>
        </div>
    </div>
</section>
{% endblock %}